.resume .title-deco {
    margin-bottom: 24px;
}

.circle-text-container {
    width: 80px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.39);
    border-radius: 50%;
    padding: 8px;
    margin-top: 16px;
    margin-right: 16px;
    text-align: center;
}

.core-skills-list .core-skill:nth-child(odd) {
    border-color: #FA8D99;
}

.other-skills-list .other-skill {
    border-radius: 2px;
    line-height: 44px;
    background-color: #F5F5F5;
    margin-top: 16px;
    margin-right: 16px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.edu-item:not(:first-child) {
    margin-top: 16px;
}

.edu-item .year > span {
    background-color: #FA8D99;
    color: white;
    padding: 0 5px;
    border-radius: 2px;
}

.edu-item .year:after {
    content: "";
    width: 6px;
    display: inline-flex;
    height: 9px;
    background-color: #FA8D99;
    transform: rotate(45deg);
    margin-left: -4px;
}

.hobby-list .hobby-item {
    width: 64px;
    height: 64px;
    border-color: #FA8D99;
}