body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.55);
  line-height: 2;
}

.color-primary {
  color: #FA8D99 !important;
}

.color-grey-54 {
  color: rgba(0, 0, 0, 0.55) !important;
}

.color-grey-38 {
  color: rgba(0, 0, 0, 0.38) !important;
}

.text-medium {
  font-weight: 500;
}

.text-size-14 {
  font-size: 14px;
}

.title-deco {
  display: flex;
  text-transform: uppercase;
  font-weight: bolder;
  align-items: center;
  color: #FA8D99;
}

.title-deco:before {
  display: inline-flex;
  content: "";
  width: 50px;
  height: 2px;
  background-color: #FA8D99;
  margin-right: 8px;
}

.section-subtitle {
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.24);
  text-transform: uppercase;
}

.gradient-text {
  color: #FF8A80;
  background-image: linear-gradient(-180deg, #FF8A80 0%, #F48FB1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}